<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% block head %}
    <title>Gym Master Body</title>
{% endblock %}
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <header>
            <div class="links">
                <a href="/" class="active">Home</a>
                <a href="/plans">Planos</a>
                <a href="/members">Membros</a>
                <a href="/instructors">Instrutores</a>
                <a href="/units">Unidades</a>
        </header>
    </div>
    
    {% block content %}
    
    {% endblock %}

    <footer class="footer">
        <div class="footer-wrapper">
            
        </div>
    </footer>
    
</body>
</html>