{% extends "layout.njk" %}

{% block content %}

<div class="plans">
    <section class="price">

    </section>
</div>

<div class="plans">
    <section class="price">
        
    </section>
</div>

<div class="plans">
    <section class="price">
        
    </section>
</div>

{% endblock content %}