{% extends "layout.njk" %}

{% block content %}

    <div class="plan-box">
        <div class="plans">

        </div>

        <div class="plans">

        </div>

        <div class="plans">
            
        </div>
    </div>
{% endblock content %}